.random-planet {
    display: flex;
    min-height: 178px;
    padding: 14px;
    margin-bottom: 14px;
}

.random-planet .planet-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 14px;
}

.random-planet .list-group {
    margin: 16px 0 0 16px;
}

.random-planet .list-group-item {
    padding: 4px;
}

.random-planet .list-group-item .term {
    margin-right: 8px;
}
